body, .App {
  background-color: #faf8f8; /* Light background color */
  color: #000000; /* Dark text color */
  transition: background-color 0.5s, color 0.5s;
}
.theme__dark {
  background-color: black;
  color: #ffff; 
  transition: 0.5s;
}
 .theme__dark * {
  color: white !important;
}

.theme__dark a {
  color: #bb86fc; /* Light purple for links */
}
.theme__dark div[class*="tags"] span {
  background-color: rgb(153, 0, 255) !important;
}
.theme__dark #showcase article {
	background-color: rgb(212, 148, 255, 0.187);
}
.theme__dark #footer, .theme__dark nav {
	background-color: rgb(212, 148, 255, 0.187);
}
.theme__dark #shadow * {
	color: $text !important;
}