

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face{
  font-family: "burtons";
  src: url("../public/Burtons.otf")
}
.theme__dark {
  background-color: #121212;
  color: #ffffff; 
  transition: 0.5s;
}
 .theme__dark * {
  color: white !important;
}

.theme__dark a {
  color: #bb86fc; /* Light purple for links */
}
.theme__dark div[class*="tags"] span {
  background-color: rgb(153, 0, 255) !important;
}
.theme__dark #showcase article {
	background-color: rgb(212, 148, 255, 0.187);
}
.theme__dark #footer, .theme__dark nav {
	background-color: rgb(212, 148, 255, 0.187);
}
.theme__dark #shadow * {
	color: $text !important;
}